@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Bytesized&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200px;
  font-style: normal;
}
.navigation{
    margin-top: 30px;
    height: 80px;
    width: 100%;
    background-color: #043873;
    padding: 16px 220px  ;
    display: flex;
    align-items: center;
    justify-content: space-between;
   

}
.navlogo{

}
.navlogo img{
    height: 25px;
    width: 165px;
}
.navlist{
 display: flex;
 justify-content: space-between;
  /* width: 60%; */
}

#navlist{
    list-style: none;
      display: flex;
     
   
    justify-content: space-between;
    color: white;
    gap: 20px;
}
#navlist ul{
             list-style: none;
               display:grid;
               grid-template-columns: repeat(4,1fr);
               grid-gap: 30px;
               align-items: center;
          }
#navlist  a{
color: white;
text-decoration: none;
}
.navbtn{
display: flex;
justify-content: space-between;
gap: 10px;
padding-left: 20px;

}
#navlogin{
    height: 40px;
    width: 76px;
    border-radius: 10px;
    background-color: #FFE492;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
   

}
#btn-free-trial{
    background-color: #4F9CF9;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    /* padding: 16px 24px; */
     font-weight: 400;
     font-size: 18px;
   
}
main{
    background-color: #043873;
     padding: 80px 220px 10px 220px ;
    width: 100%;
    height: 600px;
     display: flex;
     justify-content: space-between;
     gap: 10px;
}
#hero-heading div {
 padding: 60px 0px 0px 0px;
 size: 40%;

}
#hero-heading div h1{
    color: white;
   font-style: bold;
    font-size: 46px;
    line-height: 1.2;
    /* letter-spacing: -2%; */
    font-weight: 700;
    
}
#herop{
    /* width: 480px;
    height: 60px; */
}
#hero-heading  p{
    color:#FFFFFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    padding-right: 10px;
    padding-top: 25px;
     width: 480px;
    height: 60px;

}
#btn{
    
    margin-top: 22px;
}
#hero-heading button{
      background-color: #4F9CF9;
    height: 45px;
    width: 200px;
    border-radius: 10px;
    /* padding: 16px 24px; */
     font-weight: 300;
     font-size: 16px;
     
}
#hero-heading button:hover{
    color:#C4DEFD;
}
#img-cointener{
    height: 400px;
    width: 850px;
    background-color: #C4DEFD;
size: 60%;
    border-radius: 15px;
}