@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Bytesized&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200px;
  font-style: normal;

}

.navigation{
    
    height: 150px;
    width: 100%;
    background-color: white;
    padding: 50px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navlogo img {
   width: 200px;
   height: auto;
}
.navlist{
    display: flex;   
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.navlist ul {
    height: 25px; 
    padding: 30px;
    background-color: white;
    display: flex;
    gap: 30px;
    list-style: none;
    align-items: center;
     justify-content: space-between;
     font-size: 16px;

}
.btn{
    background-color: #4CAF4F;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    border: none;
    cursor: pointer;
    
}

main{
    display: flex;
    padding: 50px 200px;
    justify-content: space-between;
    gap: 55px;

}
#left-section{
  width: 60%;
  display: flex;
  padding-top: 48px;
 flex-direction: column;
 gap: 30px;
}
#left-section h1{
    font-size: 60px;
    color: black;
    line-height: 1.3;
    
}
#left-section p{
    font-size: 15px;
    color: #555555;
    line-height: 1.9; 
   
}
#left-section span{
    color: #4CAF4F;
    
}
#right-section{
    width: 40%;

}
#right-section img{
    width: 405px;
    height: 400px;
    
}

.client-heading{
    text-align: center;
    display: flex;
    flex-direction: column;
    color: #4D4D4D;
    gap: 20px;
}
.client-logos{
   padding: 50px 200px;
    display: flex;
    
    align-items: center;
    justify-content: space-between;
}
.client-logos img{
    width: 55px;
    height: auto;
}
.manage-community{
      padding: 10px 200px;
      height: 150px;
      width: 100%;
    background-color:white;
     color: #212121;
    justify-content: center;
     display: flex;
     align-items: center;

}
.manage-community h1{
    padding-left: 135px;
    color: #4D4D4D;
    font-size: 30px;
    line-height: 1.3;
    display: flex;
    /* align-items: center; */
 background-color:white;
    height: 120px;
    width: 55%;
}

.threediv{
     padding: 50px 200px 20px 200px;
    display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-gap: 20%;
    
  

}
#mbo1, #mbo2, #mbo3 {
    text-align: center;
}

#mbo1 h2 {
   font-size: 35px;
   line-height: 1.3;
}
#mbo2 h2 {
   font-size: 35px;
   line-height: 1.3;
}
#mbo3 h2 {
   font-size: 35px;
   line-height: 1.3;
}
#mbo1 p, #mbo2 p, #mbo3 p {
    font-size: 16px;
    color: #7D7D7D;
    padding-top: 10px;
    text-align: center;
}

/* #mbo1 img{
   padding-left: 0px;
}
#mbo2 img{
    padding-left: 35px;
}     
#mbo3 img{
    padding-left: 0px;
} */
 .left-side{
  size: 40%;
 }
 .right-side{
    size: 60%;
    /* padding-top: 95px; */
    padding-top: 15%;
    }
.unlock{
    padding:0px 200px 0px 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
}
.left-side img{
   height: 100%;
   width: 90%; 
   padding-top: 0px;
   padding-left: 10%;
}
.right-side h2{
    /* height: 50%;
    width: 50%; */
    font-size: 40px;
    color: #4D4D4D;
    line-height: 1.3;
    padding-bottom: 20px;
}
.right-side p{
    font-size: 16px;
    color: #7D7D7D;
    
}
.right-side button{
    margin-top: 30px;
    background-color: #4CAF4F;
    height: 40px;
    width: 130px;
    border-radius: 10px;
    font-size: 15px;
    color: white;
    border: none;
    cursor: pointer;
}
.achivement{
    width: 100%;
   
    padding: 50px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lsrow h3{
    font-size: 25px;
    color: #4D4D4D;
    
}
.a-rsrow{
    width: 40%;
    padding-left: 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   grid-gap-left: 20px;
}
.member{
   width: 20%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    color: red;
    grid-gap:10px
}

